<header class="header">
  <div class="header__container">
    <a href="/" class="header__logo">
      <img src="../../../public/Brand_Logo.svg" alt="MiniGames logo" />
    </a>

    <nav class="header__nav nav" aria-label="Основное меню">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="/" class="nav__link nav__link--active" aria-current="page">Home</a>
        </li>
        <li class="nav__item">
          <a href="/library" class="nav__link">Library</a>
        </li>
        <li class="nav__item">
          <a href="/tournaments" class="nav__link">Tournaments</a>
        </li>
        <li class="nav__item">
          <a href="/community" class="nav__link">Community</a>
        </li>
      </ul>

      <div class="header__auth auth">
        <a href="/login" class="btn btn--outline">Log In</a>
        <a href="/signup" class="btn btn--primary">Sign Up</a>
      </div>
    </nav>
  </div>
</header>
