<div class="top-players__container">
  <h2 class="top-players__title">
    <span class="top-players__accent"> </span>
    Top Players <span class="top-players__title-suffix"> This Week</span>
  </h2>

  <div class="top-players__table-wrapper">
    <table class="top-players__table">
      <thead>
        <tr>
          <th class="top-players__th" scope="col">Rank</th>
          <th class="top-players__th" scope="col">Player</th>
          <th class="top-players__th top-players__th--games" scope="col">
            <span class="top-players__th-full">Played</span>
            Games
          </th>
          <th class="top-players__th" scope="col">
            <span class="top-players__th-full">Total</span>
            Score
          </th>
          <th class="top-players__th" scope="col">Streak</th>
          <th class="top-players__th top-players__th--favorite" scope="col">Favorite Game</th>
        </tr>
      </thead>
      <tbody data-players-body></tbody>
    </table>
  </div>
</div>
